<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{stylesheet}}">
</head>
<body>
    <!-- Global Navbar -->
    <nav>
        <a href="/">Home</a>
        {{#if user}}
            | <a href="/profile">My Profile</a>
            | <a href="/nutritional">Nutritional Dashboard</a>
            | <a href="/upload">Add Food</a>
            | <a href="/ingredient-recognition">Ingredient Recognition</a>
            | <a href="/logout">Logout</a>
        {{else}}
        {{#if registerpage}}
            <a href="/login">Login</a>
        {{else}}
            <a href="/register">Register</a>
        {{/if}}
        {{/if}}
    </nav>
    <hr>

    {{{body}}}

    {{#if script}}
    <script src="{{script}}"></script>
    {{/if}}
</body>
</html>
