<h1>Food Recognition Result</h1>

<img src={{imageURL}} style="max-width: 200px; margin-top: 10px; display: block; margin-left: auto; margin-right: auto;" alt="User entered food" />

<p><strong>Identified Food:</strong></p>
<p>Food: {{food}}</p>
<p>Ingredients: {{ingredients}}</p>
<p>Nutrition: {{nutrition}}</p>
<p>Analysis Based on Dietary Restrictions: {{dietaryAnalysis}}</p>
<p>Analysis Based on Goal: {{goalAnalysis}}</p>

<a href="/upload/meal" class = "button-link">Try again</a>
