<h1>Food Recognition Result</h1>

<img src={{imageURL}} style="max-width: 200px; margin-top: 10px; display: block; margin-left: auto; margin-right: auto;" alt="User entered food" />

<p><strong>Identified Food:</strong></p>
<p id = "foodInfo">Food: {{food}}</p>
<p id="ingredientsInfo">Ingredients: {{ingredients}}</p>
<p id="nutritionInfo">Nutrition: {{nutrition}}</p>
<p id="dietaryAnalysisInfo">Analysis Based on Dietary Restrictions: {{dietaryAnalysis}}</p>
<p id="goalAnalysisInfo">Analysis Based on Goal: {{goalAnalysis}}</p>

<a class="button-link" id="addButton">Add to Food Logs</a>
<a href="/nutritional" class="button-link" id="nutButton" style="visibility: hidden;">Go to Nutritional Dashboard</a>
<br/>
<a href="/upload/meal" class="button-link">Try again</a>
