{{#if foodLog.length}}
{{#each foodLog}}
  <div class="food-entry">
    <strong><p>Date: {{this.date}}</p></strong>
    <p>{{this.food}}</p>
    <p>{{this.ingredients}}</p>
    <p>{{this.nutrition}}</p>
    <hr />
  </div>
  <br/>
{{/each}}
{{else}}
  <h2> No foods logged yet! </h2>
{{/if}}