<h1>Edit Your Profile</h1>

<form action="/profile/edit" method="POST">
  <label>Name:</label>
  <input type="text" name="name" value="{{profile.name}}" required><br>

  <label>Age:</label>
  <input type="number" name="age" value="{{profile.age}}" required><br>

  <label>Height (cm):</label>
  <input type="number" name="height" value="{{profile.height}}" required><br>

  <label>Weight (kg):</label>
  <input type="number" name="weight" value="{{profile.weight}}" required><br>

  <label>Goal:</label>
  <input type="text" name="goal" value="{{profile.goal}}" required><br>

  <label><strong>Dietary Restrictions</strong></label>
  
<label>Vegan:</label>
<input type="checkbox" name="vegan" value="true" {{#if profile.dietaryRestrictions.vegan}}checked{{/if}}><br>

<label>Vegetarian:</label>
<input type="checkbox" name="vegetarian" value="true" {{#if profile.dietaryRestrictions.vegetarian}}checked{{/if}}><br>

<label>Pescatarian:</label>
<input type="checkbox" name="pescatarian" value="true" {{#if profile.dietaryRestrictions.pescatarian}}checked{{/if}}><br>

<label>Gluten-free:</label>
<input type="checkbox" name="gluten_free" value="true" {{#if profile.dietaryRestrictions.gluten_free}}checked{{/if}}><br>

<label>Dairy-free:</label>
<input type="checkbox" name="dairy_free" value="true" {{#if profile.dietaryRestrictions.dairy_free}}checked{{/if}}><br>

<label>Nut-free:</label>
<input type="checkbox" name="nut_free" value="true" {{#if profile.dietaryRestrictions.nut_free}}checked{{/if}}><br>

<label>Peanut-free:</label>
<input type="checkbox" name="peanut_free" value="true" {{#if profile.dietaryRestrictions.peanut_free}}checked{{/if}}><br>

<label>Soy-free:</label>
<input type="checkbox" name="soy_free" value="true" {{#if profile.dietaryRestrictions.soy_free}}checked{{/if}}><br>

<label>Egg-free:</label>
<input type="checkbox" name="egg_free" value="true" {{#if profile.dietaryRestrictions.egg_free}}checked{{/if}}><br>

<label>Shellfish-free:</label>
<input type="checkbox" name="shellfish_free" value="true" {{#if profile.dietaryRestrictions.shellfish_free}}checked{{/if}}><br>

<label>Halal:</label>
<input type="checkbox" name="halal" value="true" {{#if profile.dietaryRestrictions.halal}}checked{{/if}}><br>

<label>Kosher:</label>
<input type="checkbox" name="kosher" value="true" {{#if profile.dietaryRestrictions.kosher}}checked{{/if}}><br>

<label>Low-carb</label>
<input type="checkbox" name="low_carb" value="true" {{#if profile.dietaryRestrictions.low_carb}}checked{{/if}}><br>

<label>Low-sodium:</label>
<input type="checkbox" name="low_sodium" value="true" {{#if profile.dietaryRestrictions.low_sodium}}checked{{/if}}><br>

<label>Low-sugar</label>
<input type="checkbox" name="low_sugar" value="true" {{#if profile.dietaryRestrictions.low_sugar}}checked{{/if}}><br>


  <button type="submit">Save Profile</button>
</form>

<a href="/profile">Back to Profile</a>
