<h1>{{message}}</h1>
<img src="{{imagePath}}" alt="Uploaded Meal Photo" style="max-width: 300px; border-radius: 10px;">

{{#if predictions}}
  <h2>Predictions</h2>
  <ul>
    {{#each predictions}}
      <li>
        <strong>{{this.className}}</strong> — confidence: {{multiply this.probability 100}}%
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Not food.</p>
{{/if}}

<a href="/">Return Home</a>
